@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
}

a:visited { 
    text-decoration: none;
    color:unset;
}


.nav-seperation{
    display: flex;
    color: rgb(0, 0, 0);
    background-color: transparent;
    position: fixed;
    margin-top: 1rem;
}

.graceautos{
    display: flex;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    background-color: transparent;
    margin:0rem 0rem 0rem 1.5rem;
    width: 15rem;
}

.shopaccountcart{
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin: 0rem 0rem 0rem 30rem;
}

.shopnav:hover{
    font-size: 1.08rem;
}

.accountnav:hover{
    font-size: 1.08rem;

}



.home{
    display: flex;
    height: 110vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    object-fit:cover;
    position:fixed;
    z-index: -1;
}

.modelshome{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin-bottom: 20rem;
    font-weight: bolder;
    font-size: 5rem;
    text-decoration: none;
}

.loginwindow{
    display: flex;
    margin-top: 5rem;
    position:absolute;
}

.productswindow{
    display: flex;
    margin-top: 7rem;
    position:absolute;
}

.cartwindow{
    display: flex;
    margin-top: 7rem;
    position:absolute;
}

.createwindow{
    display: flex;
    margin-top: 7rem;
    position:absolute;
}

.registerwindow{
    display: flex;
    margin-top: 7rem;
    position:absolute;
}

.shopaccountcart{
    display: flex;
    margin-left: 60rem;
}

.carddiv{
    display: flex;
    margin-top: 1rem;
}
.card{
    width: 33rem;
    margin: 4rem 1rem 1rem 1rem;
}