*{
    box-sizing: border-box;
}

a:visited {
    color: black;  
    text-decoration: none;
}

.graceautos{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: .5rem;
}
.nav-seperation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

.dropdown{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    margin-right: 2rem;
    font-size: 1.2rem;
    width: 12rem;
}